<% if (plugins.languages) { %>
  <section class="column">
    <h3>Most used languages</h3>
    <% if (plugins.languages.error) { %>
      <section>
        <div class="field error">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2.343 13.657A8 8 0 1113.657 2.343 8 8 0 012.343 13.657zM6.03 4.97a.75.75 0 00-1.06 1.06L6.94 8 4.97 9.97a.75.75 0 101.06 1.06L8 9.06l1.97 1.97a.75.75 0 101.06-1.06L9.06 8l1.97-1.97a.75.75 0 10-1.06-1.06L8 6.94 6.03 4.97z"></path></svg>
          <%= plugins.languages.error.message %>
        </div>
      </section>
    <% } else { %>
      <svg class="bar" xmlns="http://www.w3.org/2000/svg" width="460" height="8">
        <mask id="languages-bar">
          <rect x="0" y="0" width="460" height="8" fill="white" rx="5"/>
        </mask>
        <rect mask="url(#languages-bar)" x="0" y="0" width="<%= plugins.languages.favorites.length ? 0 : 460 %>" height="8" fill="#d1d5da"/>
        <% for (const {name, value, color, x} of plugins.languages.favorites) { %>
          <rect mask="url(#languages-bar)" x="<%= x*460 %>" y="0" width="<%= value*460 %>" height="8" fill="<%= color %>"/>
        <% } %>
      </svg>
      <div class="field center horizontal-wrap fill-width">
        <% for (const {name, value, color} of plugins.languages.favorites) { %>
          <div class="field center no-wrap language">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill="<%= color %>" fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
            <%= name %>
          </div>
        <% } %>
      </div>
    <% } %>
  </section>
<% } %>