<section class="<%= id %>">
  <div class="title">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13Z"></path></svg>
    <%= `${id.charAt(0).toLocaleUpperCase()}${id.slice(1)}` %>
  </div>
  <div class="body">
    <%- `${"<"}% if (result instanceof Error) { %${">"}` %>
      <div class="error">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M2.343 13.657A8 8 0 1113.657 2.343 8 8 0 012.343 13.657zM6.03 4.97a.75.75 0 00-1.06 1.06L6.94 8 4.97 9.97a.75.75 0 101.06 1.06L8 9.06l1.97 1.97a.75.75 0 101.06-1.06L9.06 8l1.97-1.97a.75.75 0 10-1.06-1.06L8 6.94 6.03 4.97z"></path></svg>
        <span><%- `${"<"}%= result.message %${">"}` %></span>
      </div>
    <%- `${"<"}% } else { %${">"}` %>
      <div class="text">
        Below is the result of this plugin:
        <code><%- `${"<"}%= JSON.stringify(result, null, 2) %${">"}` %></code>
      </div>
    <%- `${"<"}% } %${">"}` %>
  </div>
<%- [
    "<style>",
    `  .${id} .text {`,
    "    margin: 0 13px 2px;",
    "  }",
    "</style>",
  ].map(line => `  ${line}`).join("\n") %>
</section>