<% if (plugins.isocalendar) { %>
<div class="stdin"><%- meta.$ %> ncal -MB<%= {"half-year":5, "full-year":11}[plugins.isocalendar.duration] %></div><%# -%>
<div class="stdout"><%# -%><div class="isocalendar"><%- plugins.isocalendar.svg %></div>
<b><%= `${plugins.isocalendar.streak.current}`.padStart(5) %></b> consecutive day<%= s(plugins.isocalendar.streak.current) %> with commits
<b><%= `~${plugins.isocalendar.average}`.padStart(5) %></b> commits per day in average
</div>
<% } %>
